@import '@styles/colors.scss';
@import '@styles/mixins.scss';

.header {
  @include flex-x-centered;
  width: 100%;
  height: 64px;
  background-color: $colorPrimary;
  > .content {
    @include page-width-constraint;
    width: 100%;
  }
}
