@import '@styles/mixins.scss';

.dataview-wrapper {
  @include page-width-constraint;
  height: calc(100vh - 64px);
  .shard-cells {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    .cell {
      @include flex-true-centered;
      height: 50px;
      width: 2%;
      margin: 5px;
      animation: anim 1s;
      border-radius: 3px;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(180deg);
      &.filled {
        background-color: #315edc;
        color: white;
        font-weight: bold;
      }
    }
  }
}

@keyframes anim {
  0% {
    background-color: green;
  }
  100% {
    background-color: #315edc;
  }
}
